{% extends 'base.html.twig' %}

{% block title %}ToDoList Welcome!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="lead text-left">ToDoList Start</p>
                <hr>
                <p class="text-right">
                    <a href="/todo" class="btn btn-lg btn-outline-dark">Start Here</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
