{% extends 'base.html.twig' %}

{% block title %}ToDoList Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="lead text-left">ToDoList Register</p>
                <hr>

                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}
                {{ form_end(registrationForm) }}
                
            </div>
        </div>
    </div>
{% endblock %}

