{% extends 'base.html.twig' %}

{% block title %}ToDoList Edit!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="lead text-center">ToDoList Edit</p>
                <hr>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script
{% endblock %}

