{% extends 'base.html.twig' %}

{% block title %}ToDoList Index!{% endblock %}

{% block body %}
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <p class="text-left"><span class="lead">ToDoList Index</span> <small>(total list items: {{ todos.getTotalItemCount }} )</small></p>
            </div>
        </div>

          <div class="row">
            <div class="col-md-10 offset-md-1">
            <table class="table table-striped" id="todos">
                <thead>
                    <tr>
                        {% if is_granted('ROLE_USER') %}
                        <th scope="col">Status</th>
                        {% endif %}
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        {% if is_granted('ROLE_MODERATOR') %}
                        <th scope="col">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                         {% if is_granted('ROLE_USER') %}
                        <th scope="row">
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="todoCheck{{ todo.id }}" {% if todo.status == 1 %} checked {% endif %} data-id="{{ todo.id }}">
                            <label class="custom-control-label" for="todoCheck{{ todo.id }}"></label>
                            </div>
                        </th>
                        {% endif %}
                        <td {% if todo.status == 1 %} class="done" {% endif %}>{{ todo.title }}</td>
                        <td style="max-width:500px;" {% if todo.status == 1 %} class="done" {% endif %}>{{ todo.description }}</td>
                        <td>

                            {% if is_granted('ROLE_MODERATOR') %}
                                <a href="/todo/edit/{{todo.id}}" class="btn btn-outline-info">Edit</a>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="#" class="btn btn-outline-danger" data-id="{{ todo.id }}">Delete</a>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div  class="d-flex justify-content-end mt-4">
                {{ knp_pagination_render(todos) }}
            </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script
{% endblock %}

