<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ToDo List{% endblock %}</title>
         
        {% block stylesheets %}
           <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>
    <body>

        <header>
          {% include ('includes/navbar.html.twig') %}
        </header>
        
        <main class="pb-5 mb-5">
            {% block body %}{% endblock %}
        </main>
        
        <footer class="fixed-bottom bg-light">
              {% include ('includes/copy.html.twig') %}
        </footer>
        
        <script src="/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
